<div class="home">
  <div class="home__container">
    <div class="home__content">
      <div class="home__logo">
        <img src="/assets/logo_p6.png" alt="MDD Logo" />
      </div>

      <div class="home__actions">
        <button class="btn btn--secondary home__btn" (click)="navigateToLogin()">
          Se connecter
        </button>
        <button class="btn btn--primary home__btn" (click)="navigateToRegister()">
          S'inscrire
        </button>
      </div>
    </div>
  </div>
</div>